<!DOCTYPE html>
<html>
<head>
    <title>Confirmação de População de Dados</title>
</head>
<body>
    <h1>Os dados do artista foram populados com sucesso!</h1>
    <p>Aqui estão os detalhes do artista:</p>

    <ul>
        <li><strong>Nome do Artista:</strong> {{ artist.name }}</li>
        <li><strong>URL da Foto do Artista:</strong> <img src="{{ artist.url_photo }}" alt="{{ artist.name }}"></li>
    </ul>

    <h2>Álbuns do Artista:</h2>
    <ul>
        {% for album in artist.album_set.all %}
        <li>
            <strong>Nome do Álbum:</strong> {{ album.name }}
            {% if album.url_photo %}
            <br><strong>URL da Foto do Álbum:</strong> <img src="{{ album.url_photo }}" alt="{{ album.name }}">
            {% endif %}
            <h3>Faixas do Álbum:</h3>
            <ul>
                {% for music in album.music_set.all %}
                <li>
                    <strong>Título da Música:</strong> {{ music.title }}
                    <br><strong>Duração:</strong> {{ music.duration }}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <!-- Adicione links ou botões para retornar à página anterior ou outras ações -->
</body>
</html>
