{% extends "account/base.html" %}
{% load allauth account socialaccount %}
{% block body %}
    <h1 class="h3 mb-3 fw-normal">Sign In</h1>
    <p>
        Se ainda não criou uma conta, por favor
    <a href="{{ signup_url }}">cadastrar</a> primeiro.
    </p>
    {% url 'account_login' as login_url %}
    <form method="post" action="{{ login_url }}" class="container">
        {% csrf_token %}
        {% element fields form=form unlabeled=True %}
        {% endelement %}
        <button type="submit" class="btn btn-primary">ENTRAR</button>
    </form>
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock body %}


