{% extends "account/base.html" %}
{% load allauth account socialaccount %}
{% block body %}
    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
    <p>
        Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
    </p>
    {% url 'account_signup' as action_url %}
    <form method="post" action="{{ action_url }}" class="container">
        {% csrf_token %}
        {% element fields form=form unlabeled=True %}
        {% endelement %}
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <br>
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock body %}
