/* style.css */
body {
  background-color: #000 !important; /* Fundo preto com !important para garantir a prioridade */
  color: #fff;
  font-family: 'Figtree', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6B2C91; /* Cor roxa escura */
  color: #F5E5FF;
  text-align: center;
  padding: 1px 0;
  font-family: 'Figtree', sans-serif;
  font-size: 30px;
  font-weight: 800;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000 !important; /* Fundo preto com !important para garantir a prioridade */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scrolled-up {
  display: none;
}

form {
  margin: 0;
  text-align: center;
}

.search-input {
  display: flex;
  justify-content: center;
}

form input[type="text"] {
  padding: 10px;
  border: 2px solid #6B2C91;
  border-radius: 20px;
  font-size: 20px; /* Tamanho maior */
  width: 250px;
  font-family: 'Figtree', sans-serif;
  font-weight: 700;
}

.search-button {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Ajuste conforme necessário para a separação desejada */
}

form button[type="submit"] {
  background-color: #6B2C91;
  color: #F5E5FF;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

form button[type="submit"]:hover {
  background-color: #5C1F7F;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}


.artist-header {
  margin-top: 50px;
  text-align: center;
}

.centered-heading { /* nome criado para ficar o "album:" */
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  font-family: 'Figtree', sans-serif;
  font-weight: 700;
  color: #F5E5FF;
}

.artist-info {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.artist-info img {
  width: 100%; /* Aumentar a largura para ocupar toda a largura do contêiner */
  max-height: 400px; /* Definir uma altura máxima maior para aumentar o tamanho da imagem */
  object-fit: cover; /* Mantém a proporção da imagem e corta para preencher o contêiner */
  object-position: center 20%; /* Alinha a imagem na parte superior */
  transition: opacity 0.3s; /* Adiciona transição para suavizar a mudança de opacidade */
}

.artist-info h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #F5E5FF;
  font-family: 'Figtree', sans-serif;
  font-weight: 800;
  padding: 10px;
  font-size: 50px;
  border-radius: 0 0 10px 10px;
}

.album-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-title {
  color: #fff;
  margin: 10px 0;
  text-align: center;
}

.album img {
  width: 200px; /* Largura fixa desejada */
  height: auto; /* Altura automática para manter a proporção original */
  border: 3px solid #fff;
}

.album p {
  font-size: 16px;
  margin: 5px 0;
}

.album-toggle {
  background-color: #6B2C91 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 20px !important;
  padding: 5px 10px !important;
  font-size: 14px !important;
  margin-top: 5px !important;
}

.album-details table {
  width: 100%;
  border-collapse: collapse;
}

.album-details th, .album-details td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: center;
  color: #fff;
}

.album-details th {
  background-color: #6B2C91;
}

.album-details tr:nth-child(odd) {
  background-color: #333;
}

.playlist-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr; /* Define as colunas e suas proporções */
  align-items: center;
  padding: 5px 10px;
  grid-gap: 10px; /* Espaçamento entre as colunas */
}

/* Remova os estilos .music-item, .playlist-number, .playlist-title e .playlist-duration, pois não são mais necessários */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adicione margem inferior para separar as músicas */
.music-item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  align-items: center;
  padding: 5px 10px;
  text-align: center; 
  margin-bottom: 10px; /* Adicione margem inferior para separar as músicas */
}


button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Estilo para o ícone de três pontos */
.ellipsis {
  cursor: pointer;
  user-select: none;
}

/* Estilo para o menu suspenso e suas opções */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Mostrar o menu suspenso quando o ícone de três pontos é clicado */
.ellipsis:hover + .dropdown-content {
  display: block;
}